<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>点击跳转对应页面</h1>
    <div class="create"><a href="/account/create">计帐界面</a></div>
    <div class="account"><a href="/account">账本界面</a></div>
</body>

</html>